<!-- <mat-toolbar>
    <span class="logo-style">AlphaMerticX</span>
    <iv-menu [menuIndex]="'main'"></iv-menu>
    <span class="header-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet> -->

<div class="Header-TM container d-flex flex-row">
  
    <div class="image ">
    <img src="./../../../assets/Logos/Alphametrix_Logo_01.png"
    srcset="img/logos-alphametrix-logo-01@2x.png 2x,
            img/logos-alphametrix-logo-01@3x.png 3x"
    class="LogosAlphametrix_Logo_01">
    </div>
    
    <div class="AplhaComponentsHeaderTabs d-flex flex-row justify-contain-between">
      <div class="NavigationTabs-type1">
        <label class="Subtitle2">
          Home
        </label>
      </div>
      <div class="NavigationTabs-type1">
        <label class="Subtitle2">
          Search
        </label>
      </div>
      <div class="NavigationTabs-type1">
        <label class="Subtitle2">
          Dashboard
        </label>
      </div>
      <div class="NavigationTabs-type1">
        <label class="Subtitle2">
          Newsletter
        </label>
        </div>
        <div class="NavigationTabs-type1">
          <label class="Subtitle2">
            Settings
          </label>
      </div>
    </div>
    
    
    <div class="user d-flex flex-row">
      
    
    <img src="./../../../assets/Icons/24x24/Help-FAQ @2x.png"
    srcset="img/icons-24-x-24-help-faq@2x.png 2x,
            img/icons-24-x-24-help-faq@3x.png 3x"
    class="Icons24x24Help-FAQ">
    
    
      <div class="Icons24x24Notification">
        <div class="notifications_black_24dp-1">
          <span class="Label-Small">
            3
          </span>
        </div>
      </div>
    
      <span class="Jessica-Robinson Body2">
        Jessica Robinson
      </span>
      <div class="Ellipse">
        <img src="./../../../assets/Logos/download.jpg"
        class="profile">
    
      </div>
    
    </div>
    
    
    </div>