<div class="New-Dashboard-Templates-TM-Only">
  <app-header></app-header>
  <div class="PageTitleSection">
    <div class="TitleFrame">
      <span class="Title Headline3"> New Dashboard </span>
      <div class="Button-Secondary">
        <button class="Subtitle2">Cancel</button>
      </div>
    </div>
    <span class="subtitle-goes-here Subtitle2">
      Choose a template or create a custom template.
    </span>
  </div>

  <div class="Rectangle-35">
    <div class="heading">
      <div class="name">
        <span class="Standard-Templates Subtitle1"> Standard Templates </span>
        <span
          class="Select-standard-template-to-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industr Body2"
        >
          Select standard template to Lorem Ipsum is simply dummy text of the
          printing and typesetting industry.
        </span>
      </div>
      <div class="name">
        <span class="Advanced-Templates Subtitle1"> Advanced Templates </span>
        <span
          class="Select-standard-template-to-Lorem-Ipsum-is-simply-dummy-text-of-the-printing1 Body2"
        >
          Select standard template to Lorem Ipsum is simply dummy text of the
          printing
        </span>
      </div>
      <div class="name">
        <span class="Custom-Templates Subtitle1"> Custom Templates </span>
        <span
          class="Select-standard-template-to-Lorem-Ipsum-is-simply-dummy-text-of-the-printing Body2"
        >
          Select standard template to Lorem Ipsum is simply dummy text of the
          printing
        </span>
      </div>
    </div>

    <div class="rectangle">
      <div class="Rectangle-36">
        <label class="Curated-For-Traditional-Media">
          Curated For Traditional Media
        </label>

        <div class="icons">
          <div class="AlphaComponenetsDashboard-ThemeSelector">
            <!-- <div class="Path-138"> -->
            <div class="Frame">
              <div class="icons-Q2">
                <img
                  src="./../../../assets/Icons/24x24/ChartSample.png"
                  srcset="
                    img/icons-24-x-24-chart-sample@2x.png 2x,
                    img/icons-24-x-24-chart-sample@3x.png 3x
                  "
                  class="Icons24x24ChartSample"
                />
              </div>
            </div>
            <!-- </div> -->
            <label class="Subtitle2"> Brand </label>
          </div>
          <div class="AlphaComponenetsDashboard-ThemeSelector">
            <!-- <div class="Path-138"> -->
            <div class="Frame">
              <div class="icons-Q2">
                <img
                  src="./../../../assets/Icons/24x24/ChartSample.png"
                  srcset="
                    img/icons-24-x-24-chart-sample@2x.png 2x,
                    img/icons-24-x-24-chart-sample@3x.png 3x
                  "
                  class="Icons24x24ChartSample"
                />
              </div>
            </div>
            <!-- </div> -->
            <label class="Subtitle2"> Competitive </label>
          </div>

          <div class="AlphaComponenetsDashboard-ThemeSelector">
            <!-- <div class="Path-138"> -->
            <div class="Frame">
              <div class="icons-Q2">
                <img
                  src="./../../../assets/Icons/24x24/ChartSample.png"
                  srcset="
                    img/icons-24-x-24-chart-sample@2x.png 2x,
                    img/icons-24-x-24-chart-sample@3x.png 3x
                  "
                  class="Icons24x24ChartSample"
                />
              </div>
            </div>
            <!-- </div> -->
            <label class="Subtitle2"> Industry </label>
          </div>

          <div class="AlphaComponenetsDashboard-ThemeSelector">
            <!-- <div class="Path-138"> -->
            <div class="Frame">
              <div class="icons-Q2">
                <img
                  src="./../../../assets/Icons/24x24/ChartSample.png"
                  srcset="
                    img/icons-24-x-24-chart-sample@2x.png 2x,
                    img/icons-24-x-24-chart-sample@3x.png 3x
                  "
                  class="Icons24x24ChartSample"
                />
              </div>
            </div>
            <!-- </div> -->
            <label class="Subtitle2"> People </label>
          </div>
        </div>
        <div class="adv-custom">
          <div class="Rectangle-361">
            <label class="For-Traditional-Media"> For Traditional Media </label>
            <div class="AlphaComponenetsDashboard-ThemeSelector1">
              <div class="icons-Q2">
                <img
                  src="./../../../assets/Icons/24x24/ChartSample.png"
                  srcset="
                    img/icons-24-x-24-chart-sample@2x.png 2x,
                    img/icons-24-x-24-chart-sample@3x.png 3x
                  "
                  class="Icons24x24ChartSample"
                />
              </div>
              <label class="Subtitle21"> Advanced </label>
            </div>
          </div>

          <div class="Rectangle-36">
            <label class="For-Traditional-Media"> For Traditional Media </label>
            <div class="AlphaComponenetsDashboard-ThemeSelector2">
              <div class="icons-Q2">
                <img
                  src="./../../../assets/Icons/24x24/ChartSample.png"
                  srcset="
                    img/icons-24-x-24-chart-sample@2x.png 2x,
                    img/icons-24-x-24-chart-sample@3x.png 3x
                  "
                  class="Icons24x24ChartSample"
                />
              </div>
              <label class="Subtitle21"> Custom </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Rectangle-362">
    <span class="Tips-and-tricks-to-create-a-perfect-dashboard Subtitle1">
        Tips and tricks to create a perfect dashboard
      </span>

      <span class="Select-standard-template-to-Lorem-Ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry Body2">
        Select standard template to Lorem Ipsum is simply dummy text of the 
      printing and typesetting industry.
      </span>
      <!-- <div class="Button-Tertiary1"> -->
        <button class="buttonicon">
            View Tutorial
          </button>
      <!-- </div> -->
      
</div>
</div>
